{% extends "layout.html" %}

{% block mainContent %}
  
  
<!DOCTYPE html>
<html>
<body>
    <p><h1><small>Our Team</small></h1></p>
   <p><span id="cooperative-leopard-name">Wilma Lam</span></p>
    <img src="https://upload.wikimedia.org/wikipedia/en/e/e9/Lucy_van_Pelt.png"
    width="200" id="excited-sandpiper-headshot"></img>
    
    <p><span id="excited-sandpiper-name">Eitan Hochster</span></p>
    <img src="http://www.wikihow.com/images/1/10/Color-Step-8-9.jpg" 
    width="200" height="200" id="excited-sandpiper-headshot"></img>
    
    <p><span id="stormy-quail-name">Fedor Petrenko</span></p>
    <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Linus_van_Pelt.gif" 
    width="200" height="200" id="stormy-quail-headshot"></img>
    
    <p><span id="agreable-badger-name">Jane Soetiono</span></p>
    <img src="http://vignette3.wikia.nocookie.net/peanuts/images/8/88/Sally_Brown.png" 
    width="200" height="200" id="agreable-badger-headshot"></img>
</body>

</html>

<p>
{% endblock %}
</p>
