{% extends "layout.html" %}

{% block mainContent %}
  
  
<!DOCTYPE html>
<html>
<body>
    <p><h1><small>Our Team</small></h1></p>
  
  

<div class="img">
  <a target="_blank" href="https://upload.wikimedia.org/wikipedia/en/e/e9/Lucy_van_Pelt.png">
    <img src="https://upload.wikimedia.org/wikipedia/en/e/e9/Lucy_van_Pelt.png" alt="Wilma" width="200" height="180" id="cooperative-leopard-headshot">
  </a>
  <div class="desc"><span id="cooperative-leopard-name">Wilma Lam</span></div>
</div>

<div class="img">
  <a target="_blank" href="http://www.wikihow.com/images/1/10/Color-Step-8-9.jpg">
    <img src="http://www.wikihow.com/images/1/10/Color-Step-8-9.jpg" alt="Eitan Hochster" width="200" height="180" id="excited-sandpiper-headshot">
  </a>
  <div class="desc"><span id="excited-sandpiper-name">Eitan Hochster</span></div>
</div>

<div class="img">
  <a target="_blank" href="https://upload.wikimedia.org/wikipedia/en/5/5e/Linus_van_Pelt.gif">
    <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Linus_van_Pelt.gif" alt="Fedor Petrenko" width="200" height="180" id="stormy-quail-headshot">
  </a>
  <div class="desc"><span id="stormy-quail-name">Fedor Petrenko</span></div>
</div>

<div class="img">
  <a target="_blank" href="http://vignette3.wikia.nocookie.net/peanuts/images/8/88/Sally_Brown.png">
    <img src="http://vignette3.wikia.nocookie.net/peanuts/images/8/88/Sally_Brown.png" alt="Jane Soetiono" width="200" height="180" id="agreable-badger-headshot">
  </a>
  <div class="desc"><span id="agreable-badger-name">Jane Soetiono</span></div>
</div> 




{% endblock %}

</body>

</html>

