{% extends "layout.html" %}

{% block mainContent %}

  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
		<h1><a>New Event Form</a></h1>
		<form id="create-event" method="POST">					
			<ul >
		<label for="title">Event Title</label>
		<div>
			<input id="text" name="text" required placeholder="enter event name here" type="text" maxlength="50"/> 
		</div> 
		<label for="Location">Location </label>
		<div>
			<input id="Location" name="Location" required placeholder="put location here" type="Location" maxlength="50"/> 
		</div> 
		<label for="image">Image Upload </label>

		<div>

			<form action="form_action.asp" accept="image/gif,image/png">

  <input type="url" required placeholder="image url here" name="pic" id="pic" accept="image/gif,image/png" required pattern="https://.+, http://.+"><br>

</form>
		</div>  
		<label for="Year">Year </label>
		<div>
		<select id="year" name="year"> 
			<option value="" selected="year"></option>
<option value="1" >2015</option>
<option value="2" >2016</option>

		</select>
		</div> 
		<label for="month">Month </label>
		<div>
		<select id="month" name="month"> 
			<option selected="month"></option>
<option value="0" >January</option>
<option value="1" >February</option>
<option value="2" >March</option>
<option value="3" >April</option>
<option value="4" >May</option>
<option value="5" >June</option>
<option value="6" >July</option>
<option value="7" >August</option>
<option value="8" >September</option>
<option value="9" >October</option>
<option value="10" >November</option>
<option value="11" >December</option>

		</select>
		</div> 
		<label for="day">Day </label>
		<div>
		<select id="day" name="day"> 
			<option selected="day"></option>
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>
<option value="11" >11</option>
<option value="12" >12</option>
<option value="13" >13</option>
<option value="14" >14</option>
<option value="15" >15</option>
<option value="16" >16</option>
<option value="17" >17</option>
<option value="18" >18</option>
<option value="19" >19</option>
<option value="20" >20</option>
<option value="21" >21</option>
<option value="22" >22</option>
<option value="23" >23</option>
<option value="24" >24</option>
<option value="25" >25</option>
<option value="26" >26</option>
<option value="27" >27</option>
<option value="28" >28</option>
<option value="29" >29</option>
<option value="30" >30</option>
<option value="31" >31</option>

		</select>
		</div> 
		<label for="hour">Hour </label>
		<div>
		<select id="hour" name="hour"> 
			<option selected="hour"></option>
<option value="0" >0</option>
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>
<option value="11" >11</option>
<option value="12" >12</option>
<option value="13" >13</option>
<option value="14" >14</option>
<option value="15" >15</option>
<option value="16" >16</option>
<option value="17" >17</option>
<option value="18" >18</option>
<option value="19" >19</option>
<option value="20" >20</option>
<option value="21" >21</option>
<option value="22" >22</option>
<option value="23" >23</option>

		</select>
		</div> 
		<label for="minutes">Minutes </label>
		<div>
		<select id="minutes" name="minutes"> 
			<option selected="minutes"></option>
<option value="0" >0</option>
<option value="1" >30</option>

		</select>
		</div> 

			    <input type="hidden" name="form_id" />
			    
				<input id="saveForm" type="submit" name="submit" value="Submit" />
			</ul>
		</form>	

</form>
{% endblock %}


