{% extends "layout.html" %}

{% block header %}
  <header>
    <div class="header">Welcome to Morning Wind Events</div>
  </header>
{% endblock %}

{% block mainContent %}
  <h2><small>Register for SOM events or create your own!</small></h2>

  <img src="http://pngimg.com/upload/tree_PNG3498.png" width=50% height=50% id="logo" class="img-rounded"></img>
  <p>
  </p>
  <p>  
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
  <p>
    <h2><small>Upcoming Events:</small></h2>
  </p>
 <div>
    {% include "fragments/events-list.html" %}
 </div>
    
    <div>
    <a id="new" href="/events/new" class="btn btn-primary btn-lg" role="button">Create a new event</a>
  </div>
    
    
  </p>


{% endblock %}