{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }} FTW</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  <img src="http://www.marysrosaries.com/collaboration/images/2/2f/Morning_Glory_(PSF).png" width="200" height="200"></img>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}