<ul class="list-group">
  {% for event in events %}

    <li class = "event list-group-item" id = "event-{{event.id}}">
      <a href ="/events/{{event.id}}">{{event.title}}.</a>

      <time datetime="{{event.date}}">{{event.date|prettyDate}}</time>
      {{event.attending.length}} attending so far.
    </li>
  {% endfor %}
  
  <!-- Load the Content Experiment JavaScript API client for the experiment -->
<script src= "http//www.google-analytics.com/cx/api.js?experiment=NHfhQ_ZuQUOk9TZI9WTG1w"> </script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>
var pageVariations = [
  function() {},
  function() {
    $( 'li.event' ).prepend( 'RSVP ' );
  }
];


$(document).ready(function(){

  var chosenVariation = cxApi.chooseVariation("NHfhQ_ZuQUOk9TZI9WTG1w");

  pageVariations[chosenVariation]();
}
);
</script>
  
</ul>